.blog {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:350px;
    min-width: 350px;
    margin: 5px 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ffffff6b;
}

.display-blog {
    overflow-y: auto;
    height: 100%;
    max-height: 300px;
    min-height: 250px;
    text-align: left;
}

.like-date {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}