/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #00000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8888885f; 
    height: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888; 
  }
  